.posts {
  max-width: 1120px;
  margin: auto;
  padding: 50px 0 100px 0;
}

.posts-title {
  color: white;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
} 